@media screen and (min-width: 280px) and (max-width: 1080px) {
    .buttons{
        flex-direction: row;
    }
    .content{
        align-items: flex-start;
    }
    .subtitle h3{
        flex-direction: row;
    }
}